<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Martins Computer Science Goals</strong></h1>
        <p class="text-secondary">Martin's Goals</p>
        <p class="text-secondary">I'm a junior who has many goals and is taking CSP </p>
    </div>
    <p>- Code code code</p>
    <p>- Get a 5 on the ap exam</p>
    <p>- Learn how to use python and java</p>
    <p>- Be able to make a video game (jeapordy, generator, calculator, etc.)</p>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
